{{>nav/nave-block}}

<form>
  <div class="form-group">
    <label for="messagePost">Message</label>
    <textarea class="form-control" id="messagePost" rows="3"></textarea>
  </div>
  <button id="submitMsg" class="btn btn-primary float-right">Submit</button>
</form>