{{> nav/nav-block user=false register=true}}
<section id="bg">
  <canvas id="canvas-basic"></canvas>
</section>

<div class="container">
  <div class="row">
    <div class="col col-md-12 theme-cont">
      <div class="theme-header">
        <h2 class="theme-header-title">Create Your Account</h2>
        <h3 id="create-err-msg"></h3>
      </div>
      <div class="theme-box">
        
        <h5 class="theme-title-div">Your Information</h5>
        {{> forms/account-form-block id="create-form" isUpdate=false}}

      </div>


    </div>
  </div>
</div>