<div id="home">
    <div class="container theme-body">
        <div class="row">
            <div class="col-8 offset-2">
            <h3>Examples:</h3>
                <ul id="example-list" class="list-group">
            {{#each results}}
                <li data-id="{{this.id}}" class="list-group-item">
                <a href="example/{{this.id}}">{{this.firstName}}</a>
                <button class="btn btn-danger float-right message">Message</button>
                <button type="button" data-id="{{this.is}}" class="btn float-right map" data-toggle="modal" data-target="#map-view">View on map</button>
            </li>
            {{/each}}
            </ul>
        </div>
    </div>
</div>