.flex{
    display: flex;
    flex-direction: column;

    &-center{
        @extend .flex;
        justify-content: center;
        align-items: center;
    }
}

hr {
    border: none;
    height: 1px;
    background-color: $color-secondary !important;
}

.hidden{
    display: none;
}