/*--------Desktop & Tablet--------*/
@media only screen and (min-width: 768px) {
    .flex {
        flex-direction: row;
    }

    .container {
        width: 60%;
    }

    #login-container {
        width: auto;
    }

    .btn-100 {
        width: 100%;

        &:not(:last-child){
            margin-right: .5em;
        }
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 50%;
    }

}