$color-primary: #2F80ED;
$color-secondary: #56CCF2;
$color-neutral-light: rgb(191, 218, 252);
$color-blue-dark:#0F2027;
$color-blue-med-dark:#203A43;
$color-blue-med:#2C5364;

$color-dark: #222;

$border: 1px solid #ddd;

